.idea/
platforms/
target/
bin
pkg
meta
.a
*~
*.swp
.DS_Store
.idea
*.psd
*.vpp*
vpp
gen-*
vendor
go.sum
output
tmp
api_docs
*.iml
.vscode
__debug_bin
node_modules
package.json
yarn.lock
bun*
app-*.conf
